body {
    margin: 0;
    font-family: Arial;
    background: #0f172a;
    color: white;
}

header {
    background: #020617;
    padding: 15px;
    text-align: center;
}

input {
    padding: 8px;
    margin-top: 10px;
    width: 200px;
}

.main {
    display: flex;
}

.left {
    width: 65%;
    padding: 20px;
}

.right {
    width: 35%;
    padding: 20px;
    background: #020617;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 120px;
    background: #1e293b;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 80px;
    height: 80px;
}

.team {
    display: flex;
    flex-wrap: wrap;
}

.team-card {
    background: #334155;
    margin: 5px;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
}

.team-card img {
    width: 50px;
    height: 50px;
}

